/*-----------------内容------------------*/
/* 所有的标签 */

/* html & body */

/* 导航器 */
header{

}
#logo{
    line-height: 61px;
}
#search{
    line-height: 41px;
}
#search #icon{
    width: 24px;
    height: 24px;
    position: absolute;
    top:10px;
    left:10px;
    background-image: url("images/Search_24px_1166483_easyicon.net.ico");
}

#search p{
    margin-left:35px;
}
header nav{
    line-height: 61px;
}
header nav a{
    text-decoration: none;
}

/* 子模块统一样式 */
.module{

}
.name{

}

/* 校组织 */
#SchoolUnion{

}


/* 学生组织 */
#StudentUnion{

}

/* 学生社团 */
#StudentGroup{

}
