/*-----------------字体------------------*/
/* 所有的标签 */

/* html & body */

/* 导航器 */
header{

}
#logo{
    font-family: "微软雅黑";
    font-size: 18px;
    color: white;
    line-height: 61px;
}
#search{

}
#search #icon{

}

#search p{

}
header nav{

}
header nav a{
    font-family: "微软雅黑";
    font-size: 18px;
    color: white;
    line-height: 61px;
}

/* 子模块统一样式 */
.module{

}
.name{
    font-family: "微软雅黑";
    font-size: 22px;
}

/* 校组织 */
#SchoolUnion{

}


/* 学生组织 */
#StudentUnion{

}

/* 学生社团 */
#StudentGroup{

}
#StudentGroup h2{
    text-align: center;
    font-family: "微软雅黑";
}
