/*-----------------布局------------------*/
/* 所有的标签 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html & body */

body{
    width: 1347px;
}

/* 导航器 */
header{
    width: 1347px;
    height:61px;
    position: relative;
}
#logo{
    width: 110px;
    height: 61px;
    margin-left: 44px;

}
/*搜索栏*/
#search{
    width: 424px;
    height: 41px;
    position: absolute;
    left:150px;
    top:10px;
    border:solid;
    border-width: thin;
    border-radius: 20px;
}


/*导航链接*/
header nav{
    height: 61px;
    position: absolute;
    top:0;
    right:84px;
}
header nav a{
    margin-right: 46px;
}

/* 子模块统一样式 */
.module{
    width: 1219px;
    height: 600px;
    border-top:solid;
    border-width: thin;
    border-color: rgb(77,130,250);
    margin-top: 20px;
    margin-left: 64px;
    margin-right: 64px;
    position: relative;
}
.name{
    padding: 0 10px 0 10px;
    position: absolute;
    top:-15px;
    left:580px;
    background-color: white;
}

/* 校组织 */
#SchoolUnion{            /*flex布局*/
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
#SchoolUnion .school{
    margin: 47px 32px 0 32px;
}
#SchoolUnion figcaption{
    width: 180px;
    margin-top: 10px;
    text-align: center;
}
/* 学生组织 */
#StudentUnion{

}

/* 学生社团 */
#StudentGroup{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#StudentGroup .classification1{
    width:304px ;
    height: 293px;
    margin-top: 20px;
}
#StudentGroup .classification2{
    width:304px ;
    height: 293px;
    margin-top: -10px;
}

/* 页脚部分 */
footer{
    width: 1347px;
    padding: 10px;
    border-width: thin;
    text-align: center;
}
